.container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.box1 {
  color: black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 40px;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #687291;
  font-family: Tahoma;
  margin: 5px auto;
}

.box1.even {
  background-color: #dfe1e7;
}
.box1.odd {
  background-color: #eeeff2;
}

.box1.special1 {
  background-color: #687291;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  /* display: table-cell;
  vertical-align: middle; */
  line-height: 100px;
}

.container2 {
  display: flex;
  margin-top: 200px;
  height: 100%;
}

.box2 {
  color: black;
  width: 100px;
  height: 150px;
  font-size: 40px;
  border-left-style: dotted;
  border-left-width: 10px;
  border-color: #D0D0FF;
  font-family: Tahoma;
  margin: auto 5px;
  background-color: #eeeff2;
  padding-left: 10px;
}

.box2:hover {
  background-color: yellow;
  color: goldenrod;
  cursor: pointer;
}

.box2.special2 {
  position: fixed;
  bottom: : 0;
  right: 0;
  white-space: nowrap;
}
