.post{
    background-color: white;
    max-width: 1000px;
    border: 1px solid;
    margin-bottom: 45px;
}

.post_image{
    width: 500px;
    height: 500px;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post_text{
    font-weight: normal;
    padding: 20px;
}

.post_header{
    display: flex;
    align-items: center;
    padding: 20px;
}

.post_avatar{
    margin-right: 10px;
}